{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flappy Bird</title>

  <link rel="stylesheet" href="{% static './css/style.css' %}">
  <link rel="stylesheet" href="{% static './css/particle.css' %}">
  <link rel="stylesheet" href="{% static './css/main.css' %}">




</head>
<body>
    <nav>
        <div class="container navbar flex">
            <a href="{% url 'home' %}">
                <div class="left flex">
                    
                <img src="{% static './assests/bglogo.png' %}" alt="">
                <h3 class="main-brand">INVEST<span class="color">i</span>WISE</h3>
                </div>
            </a>
            <div class="right">
                <ul class="nav-link flex">
                    <li><a class="hover-link underline"href="{% url 'goal' %}"><i class="fa-solid fa-bullseye"></i> Goal Analyser</a></li>
                <li><a class="hover-link underline"href="{% url 'syllabus' %}"><i class="fa-solid fa-rocket"></i>  Play & Learn</a></li>

                <li><a  class="hover-link underline"href="{% url 'about' %}"><i class="fa-solid fa-user-group"></i> About us</a></li>
                </ul>
            </div>
        </div>
       </nav>
       <div class="container">
        <!-- {% for q in question %}
        <h2>{{ q }}</h2>
        {% endfor %}
        <h3>{{ option }}</h3>
       </div> -->
    <canvas id="canvas1"></canvas>


    <div class="animation-wrapper">
        <div class="particle particle-1"></div>
        <div class="particle particle-2"></div>
      </div>
      </div>

  <script src="{% static './js/rocket.js' %}"></script>
  <script src="{% static './js/particles.js' %}"></script>
  <script src="{% static './js/obstacles.js' %}"></script>
  <script src="{% static './js/main.js' %}"></script>



</body>
</html>
